<!DOCTYPE html(lang='en')>
<head>
  <title>Webscale Support Center</title>
  <!--link(rel="stylesheet", href="/stylesheets/reset.css")-->
  <link rel="stylesheet" href="/stylesheets/style.css"/>
  <link rel="stylesheet" href="/stylesheets/vendors/help.min.css"/>
  <link href="https://fonts.googleapis.com/css?family=Lato:300,400,700,900" rel="stylesheet" type="text/css"/>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"/>
  <link rel="stylesheet" href="stylesheets/webscale.css"/>
  <meta name="viewport" content="width=device-width, initial-scale=1"/>
  <!-- Required for Previews and Experiments-->
  <script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
  <script>
  </script>
  <script src="//static.cdn.prismic.io/prismic.min.js"></script>
  <script src="/javascript/vendors/highlight.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
  <div class="header">
    <nav class="navbar-inverse navbar"><a class="home-link pull-right" href="/"><img class="logo-image" src="/images/webscale_logo_white_desktop.png"/></a><span class="navbar-title">Webscale Support Center</span></nav>
  </div>
</body>
